<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="logfile" fileName="H:/Documents/file.txt" layout="${longdate} ${level:uppercase=true} ${message} ${exception}" 
				/>
		<!-- write to the console -->
		<target xsi:type="Console" name="logconsole" layout="${date:format=HH\:mm\:ss} ${level} ${message}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All levels of logs will be written to the targets "logfile" and "logconsole" -->
		<logger name="*" minlevel="Error" writeTo="logfile,logconsole" />
	</rules>
</nlog>